# black list
/*
target
tmp
_tmp.*
_tmp_*

.directory
.thumbnails*
.DS_Store
desktop.ini
Thumbs.db
Thumbs.db:encryptable

!/ci
!/src
!/build.rs
!/.rustfmt.toml
!/rust-toolchain.toml
!/.cargo
!/Cargo.toml
!/Cargo.lock
!/License
!/assets
!/docs
!/tests
!/examples
!/.git*
!/locales
# !/Readme*.md
!/crates
